/* CSS RESET */
html, body, div, span, applet, object, iframe, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; 
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* MAIN CSS */

* { box-sizing: border-box; }

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: #E2CE1A;
    overflow: hidden;
}

.container {
    display: flex;
    width: 944px;
    height: 555px;
    margin: 4%;
    border-radius: 16px;
    box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

/* CONTAINER KIRI */

.container-kiri {
    width: 304px;
    height: 555px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
    background-color: #36320A;
    padding: 148px 30px 0 44px;
}

.container-kiri .image {
    display: flex;
    align-items: center;
    margin-left: -23px;
}

.container-kiri .image img { margin-left: -32px; }

.container-kiri .image .balok {
    width: 62px;
    height: 5px;
    background: #C4C4C4;
    transform: rotate(90.021deg);
}

.container-kiri h2 {
    font-size: 26px;
    font-weight: 700;
    margin: 1px 0 0 12px;
}

.container-kiri h3 {
    font-size: 23px;
    font-weight: 500;
    margin: 0 0 34px 12px;
}

.container-kiri p {
    font-size: 17px;
    font-weight: 500;
    margin: 12px 0 0 22px;
}

.btn {
    width: 232px;
    height: 70px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 23px;
    border-radius: 30px;
}

.btn:hover { cursor: pointer; }

.btn.kiri {
    background: transparent;
    border: 4px solid #FFF;
}

/* CONTAINER KANAN */

.container-kanan {
    width: 640px;
    height: 555px;
    text-align: center;
    background-color: #FEFAA1;
}

.container-kanan h2 {
    font-size: 32px;
    font-weight: 900;
    padding: 50px 0 0 0;
}

.container-kanan p {
    font-size: 19px;
    font-weight: 600;
    padding: 10px 0 25px 0;
}

.container-kanan .input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.container-kanan .input input {
    background-color: #E2CE1A;
    border: none;
    width: 400px;
    height: 60px;
    font-size: 23px;
    font-weight: 600;
}

.container-kanan .input input::placeholder { color: rgba(0, 0, 0, 0.60); font-weight: 800; }

.container-kanan .input input:hover { cursor: pointer; }

.container-kanan .input input:focus { outline: 0; }

.container-kanan .input input:-webkit-autofill { transition: background-color 5000s ease-out 0s; }

.container-kanan .input img { margin: 0 10px 0 30px; }

.container-kanan .input .username img, .email img, .pass img { width: 20px; }

.container-kanan .input .username, .email, .pass {
    display: flex;
    width: 80%;
    height: 60px;
    background: #E2CE1A;
    border-radius: 16px;
    border: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);   
    caret-color: #464402;
    overflow: hidden;
}

.btn.kanan {
    background: #36320A;
    border: 0;
    margin-top: 10px;
}