html, body {
    height: 100%;
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.biru-muda {
    background-color: lightblue;
}

.hijau {
    background-color: green;
}

.biru {
    background-color: blue;
}

.merah {
    background-color: red;
}

.tombol {
    width: 30%;
}

.kotak {
    width: 25px;
    height: 25px;
    margin: 10px auto;
}